@import "colors.css";

main {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 16px;
    padding: 16px;
}

/* Menu */
.menu-div {
    display: inline;
    float: left;
}

/* Search */
.search {
    display: inline;
    font-size: x-large;
}

.search-box {
    display: inline;
}

.search-box input {
    font-size: large;
}

.search-buttons {
    display: inline;
}

.search-buttons button {
    font-size: large;
}

/* Modify */
.modify {
    display: inline;
    float: right;
}

.modify button {
    font-size: large;
}

/* Table */
.medium-table {
    width: 100%;
} 

.medium-table, .medium-table th, .medium-table td {
    border: 1px solid var(--color-white);
    border-collapse: collapse;
}

.medium-table tbody tr {
    background-color: var(--color-yellow-green);
}

.medium-table tbody tr:nth-child(even) {
    background-color: var(--color-apple-green);
}

/* Dialog */
dialog {
    width: fit-content;
    height: fit-content;

    padding: 0;

    top: 30%;
}

dialog .title-bar {
    padding: 8px;
    border-bottom: 1px solid var(--color-black);
}

dialog .title-bar button {
    float: right;
}

dialog .content {
    padding: 8px;
}

dialog .content form {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    column-gap: 4px;
}

dialog .content form * {
    margin: 4px 0;
    font-size: larger;
}

dialog .content form .error {
    grid-column: 1 / span 4;
}

dialog .content form .form-buttons {
    grid-column: 1 / span 4;
}

dialog .content form .form-buttons button:first-child {
    float: left;
    width: 48%;
}

dialog .content form .form-buttons button:last-child {
    float: right;
    width: 48%;
}