@import "../colors.css";
@import "../components/dialog.css";
@import "../components/resource-table.css";
@import "../components/menu.css";
@import "../components/toast.css";

main {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 16px;
    padding: 16px;
}

.search-box {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4px;
}