@import "colors.css";

main {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 16px;
    padding: 16px;
}

/* Menu */
.menu-div {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 10%;
}

/* Search */
.search {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 8px;

    float: left;
    font-size: x-large;
}

.search-box {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 4px;
}

.search-box label {
    display: inline;
}

.search-box input {
    font-size: large;
}

.search-buttons button {
    font-size: large;
}

/* Modify */
.modify {
    display: inline;
    float: right;
}

.modify button {
    font-size: large;
}

/* Table */
.customer-table {
    width: 100%;
} 

.customer-table, .customer-table th, .customer-table td {
    border: 1px solid var(--color-white);
    border-collapse: collapse;
}

.customer-table tbody tr {
    background-color: var(--color-yellow-green);
}

.customer-table tbody tr:nth-child(even) {
    background-color: var(--color-apple-green);
}

/* Dialog */
dialog {
    width: fit-content;
    height: fit-content;

    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    
    padding: 0;
}

dialog .title-bar {
    padding: 8px;
    border-bottom: 1px solid var(--color-black);
}

dialog .title-bar button {
    float: right;
}

dialog .content {
    padding: 8px;
}

dialog .content form {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    column-gap: 4px;
}

dialog .content form * {
    margin: 4px 0;
    font-size: larger;
}

dialog .content form #id {
    grid-column: 2 / span 3;
}

dialog .content form .error {
    grid-column: 1 / span 4;
}

dialog .content form .form-buttons {
    grid-column: 1 / span 4;
}

dialog .content form .form-buttons button:first-child {
    float: left;
    width: 48%;
}

dialog .content form .form-buttons button:last-child {
    float: right;
    width: 48%;
}