/* Dialog */
dialog {
    width: fit-content;
    height: fit-content;

    margin: auto;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--color-neutral-900);
    border-color: var(--color-neutral-50);
    color: var(--color-neutral-0);

    padding: 0;
}

dialog .title-bar {
    padding: 8px;
    border-bottom: 1px solid var(--color-black);
}

dialog .title-bar button {
    float: right;
}

dialog .content {
    padding: 8px;
}

dialog .content form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
}

dialog .content form * {
    margin: 4px 0;
}

dialog .content footer div {
    display: inline;
}

dialog .content form div label {
    width: fit-content;
    font-size: larger;
}

dialog .content form div input, dialog .content form div select {
    width: 60%;
    font-size: larger;
    float: right;
}

dialog .content form div .error {
    grid-column: span 2;
}

dialog .content form div:first-child {
    grid-column: span 2;
}

dialog .content form .form-buttons {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
}

dialog .content form .form-buttons button:first-child {
    padding: 8px 0;
    float: left;
}

dialog .content form .form-buttons button:last-child {
    padding: 8px 0;
    float: right;
}