/* Table */
.resource-table {
    width: 100%;
    color: var(--color-neutral-0);
} 

.resource-table, .resource-table th, .resource-table td {
    border: 0px solid var(--color-neutral-200);
    border-collapse: collapse;
    text-align: left;
}

.resource-table thead {
    background-color: var(--color-secondary);
    user-select: none;
}

.resource-table thead tr th {
    padding: 4px;
}

.resource-table tbody tr {
    color: var(--color-neutral-900);
    background-color: var(--color-primary);
}

.resource-table tbody tr:nth-child(even) {
    background-color: var(--color-primary-75);
}

.resource-table tbody .selected {
    background-color: var(--color-primary-highlight) !important;
}