/* Table */
.resource-table {
    width: 100%;
} 

.resource-table, .resource-table th, .resource-table td {
    border: 1px solid var(--color-white);
    border-collapse: collapse;
}

.resource-table thead {
    user-select: none;
}

.resource-table tbody tr {
    color: var(--color-black);
    background-color: var(--color-yellow-green);
}

.resource-table tbody tr:nth-child(even) {
    background-color: var(--color-apple-green);
}

.resource-table tbody .selected {
    background-color: var(--color-pakistan-green) !important;
    color: var(--white) !important;
}